{% extends '@layout/default.html.twig' %}

{% block title %}Teste{% endblock %}

{% block content %}
<H1>olar</H1>

    {% for customer in customers %}
        Nome: {{ customer.name }}<br />

        <br /><br /><br /><br />
    {% endfor %}
{% endblock %}
